body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #49108b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Verdana, "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding: 0px 10px 10px 10px;
  border-radius: 15px;
  overflow-x: hidden;
}

#content {
  background-color: #f3f8ff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popup {
  width: 800px;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: white;
  padding: 10px 0 0 0;
}

h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 15px 0 0 0;
  color: green;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  font-family: Montserrat, Verdana, "Roboto", sans-serif;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#summary-area {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f3f8ff;
}

#setupForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 0;
  width: 740px;
}

#setupForm input[type="text"] {
  height: 30px;
  padding: 0px 10px;
  margin: 0 0 0 10px;
  font-family: Montserrat, Verdana, "Roboto", sans-serif;
  font-size: 16px;
}

#setupForm label {
  display: inline-block;
  width: 220px;
  text-align: left;
  margin-right: 10px;
}

#setupForm button {
  margin: 10px 0 0 0;
  font-weight: bold;
}

.instruction-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9em;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.spinner {
  display: none;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
